<div class="content-heading">
  Outstanding REPORT <%= Date.today.strftime("%d %B %Y") %>
</div>
<!-- START widgets box-->
<!-- END widgets box-->
<div class="row">
  <!-- START dashboard main content-->
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align: center">
            Outstanding Order
          </div>
          <div class="panel-body">
            <table id="datatable_customer" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Item Number</th>
                  <th>Description</th>
                  <th>Buffer</th>
                  <th>Qty SO</th>
                  <th>Stock FG</th>
                  <th>Stock Completions</th>
                  <th>Outs Supplier</th>
                  <th>Balance SO</th>
                  <th>Available</th>
                  <th>Over</th>
                  <th>Balance SO + Buffer</th>
                </tr>
              </thead>
              <tbody>
                <% @out_daily.each do |dp| %>
                <tr class="gradeX">
                  <td><%= dp.item_number %></td>
                  <td><%= dp.description %></td>
                  <td><%= dp.buffer %></td>
                  <td><%= dp.outstanding_order %></td>
                  <td><%= dp.stock_f %></td>
                  <td><%= dp.stock_c %></td>
                  <td>-</td>
                  <td><%= dp.outstanding_order - dp.stock_f %></td>
                  <td><%= dp.stock_f %></td>
                  <td><%= dp.stock_f - dp.outstanding_order %></td>
                  <td><%= (dp.outstanding_order - dp.stock_f) + dp.buffer %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align: center">
            Buffer Compliance
          </div>
          <div class="panel-body">
            <table id="stock-table" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Item Number</th>
                  <th>Description</th>
                  <th>SO In</th>
                  <th>Avg Day</th>
                  <th>Avg Month</th>
                  <th>C Buffer</th>
                  <th>Avg vs Buffer</th>
                </tr>
              </thead>
              <tbody>
                <% @out_daily.each do |dp| %>
                <tr class="gradeX">
                  <td><%= dp.item_number %></td>
                  <td><%= dp.description %></td>
                  <td><%= dp.order_in %></td>
                  <td><%= dp.order_in == 0 ? dp.order_in : dp.order_in/(24*3) %></td>
                  <td><%= dp.order_in == 0 ? dp.order_in : (dp.order_in/(24*3))*24 %></td>
                  <td><%= dp.buffer == 0 ? '0' : dp.stock_f / dp.buffer %></td>
                  <td><%= dp.order_in == 0 ? '0' : dp.buffer / dp.order_in/(24*3) %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>