<li class="<%= 'active' if controller?('stock/surabaya') %>">
  <a href="#stock-surabaya" title="Level 1" data-toggle="collapse"> <em class="fa fa-folder-o"></em> <span>Surabaya</span> </a>
  <ul id="stock-surabaya" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      Surabaya
    </li>
    <li class="<%= 'active' if controller?('stock/surabaya/stock_elite') %>">
      <a href="#stock-surabaya-elite" title="Elite" data-toggle="collapse"> <em class="icon-basket-loaded"></em> <span>Elite</span> </a>
      <ul id="stock-surabaya-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Elite
        </li>
        <li class="<%= 'active' if controller?('stock/surabaya/stock_elite') && action?('stock_recap') %>">
          <a href="/stock/surabaya/stock_elite/stock_recap" title="Recap"> <span>Recap</span> </a>
        </li>
        <li class="<%= 'active' if controller?('stock/surabaya/stock_elite') && action?('stock_normal') %>">
          <a href="/stock/surabaya/stock_elite/stock_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('stock/surabaya/stock_elite') && action?('stock_clearence') %>">
          <a href="/stock/surabaya/stock_elite/stock_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('stock/surabaya/stock_elite') && action?('stock_service') %>">
          <a href="/stock/surabaya/stock_elite/stock_service" title="Return & Service"> <span>Return & Service</span> </a>
        </li>
        <li class="<%= 'active' if controller?('stock/surabaya/stock_elite') && action?('stock_display') %>">
          <a href="/stock/surabaya/stock_elite/stock_display" title="Display"> <span>Display</span> </a>
        </li>
        <li class="<%= 'active' if controller?('stock/surabaya/stock_elite') && action?('stock_unnormal') %>">
          <a href="/stock/surabaya/stock_elite/stock_unnormal" title="Normal"> <span>Tanggung</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('stock/surabaya/stock_serenity') %>">
      <a href="#stock-surabaya-serenity" title="Elite" data-toggle="collapse"> <em class="icon-basket-loaded"></em> <span>Serenity</span> </a>
      <ul id="stock-surabaya-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('stock/surabaya/stock_serenity') && action?('stock_recap') %>">
          <a href="/stock/surabaya/stock_serenity/stock_recap" title="Recap"> <span>Recap</span> </a>
        </li>
        <li class="<%= 'active' if controller?('stock/surabaya/stock_serenity') && action?('stock_normal') %>">
          <a href="/stock/surabaya/stock_serenity/stock_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('stock/surabaya/stock_serenity') && action?('stock_clearence') %>">
          <a href="/stock/surabaya/stock_serenity/stock_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('stock/surabaya/stock_serenity') && action?('stock_service') %>">
          <a href="/stock/surabaya/stock_serenity/stock_service" title="Return & Service"> <span>Return & Service</span> </a>
        </li>
        <li class="<%= 'active' if controller?('stock/surabaya/stock_serenity') && action?('stock_display') %>">
          <a href="/stock/surabaya/stock_serenity/stock_display" title="Display"> <span>Display</span> </a>
        </li>
        <li class="<%= 'active' if controller?('stock/surabaya/stock_serenity') && action?('stock_unnormal') %>">
          <a href="/stock/surabaya/stock_serenity/stock_unnormal" title="Normal"> <span>Tanggung</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('stock/surabaya/stock_lady') %>">
      <a href="#stock-surabaya-lady" title="Lady" data-toggle="collapse"> <em class="icon-basket-loaded"></em> <span>Lady</span> </a>
      <ul id="stock-surabaya-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('stock/surabaya/stock_lady') && action?('stock_recap') %>">
          <a href="/stock/surabaya/stock_lady/stock_recap" title="Recap"> <span>Recap</span> </a>
        </li>
        <li class="<%= 'active' if controller?('stock/surabaya/stock_lady') && action?('stock_normal') %>">
          <a href="/stock/surabaya/stock_lady/stock_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('stock/surabaya/stock_lady') && action?('stock_clearence') %>">
          <a href="/stock/surabaya/stock_lady/stock_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('stock/surabaya/stock_lady') && action?('stock_service') %>">
          <a href="/stock/surabaya/stock_lady/stock_service" title="Return & Service"> <span>Return & Service</span> </a>
        </li>
        <li class="<%= 'active' if controller?('stock/surabaya/stock_lady') && action?('stock_display') %>">
          <a href="/stock/surabaya/stock_lady/stock_display" title="Display"> <span>Display</span> </a>
        </li>
        <li class="<%= 'active' if controller?('stock/surabaya/stock_lady') && action?('stock_unnormal') %>">
          <a href="/stock/surabaya/stock_lady/stock_unnormal" title="Normal"> <span>Tanggung</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('stock/surabaya/stock_royal') %>">
      <a href="#stock-surabaya-royal" title="Royal" data-toggle="collapse"> <em class="icon-basket-loaded"></em> <span>Royal</span> </a>
      <ul id="stock-surabaya-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('stock/surabaya/stock_royal') && action?('stock_recap') %>">
          <a href="/stock/surabaya/stock_royal/stock_recap" title="Recap"> <span>Recap</span> </a>
        </li>
        <li class="<%= 'active' if controller?('stock/surabaya/stock_royal') && action?('stock_normal') %>">
          <a href="/stock/surabaya/stock_royal/stock_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('stock/surabaya/stock_royal') && action?('stock_clearence') %>">
          <a href="/stock/surabaya/stock_royal/stock_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('stock/surabaya/stock_royal') && action?('stock_service') %>">
          <a href="/stock/surabaya/stock_royal/stock_service" title="Return & Service"> <span>Return & Service</span> </a>
        </li>
        <li class="<%= 'active' if controller?('stock/surabaya/stock_royal') && action?('stock_display') %>">
          <a href="/stock/surabaya/stock_royal/stock_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    
    <li class="<%= 'active' if controller?('stock/surabaya/stock_classic') && action?('stock_classic') %>">
      <a href="/stock/surabaya/stock_elite/stock_classic" title="Tote"> <em class="icon-basket-loaded"></em> <span>Classic</span></a>
    </li>
    <li class="<%= 'active' if controller?('stock/surabaya/stock_elite') && action?('stock_tote') %>">
      <a href="/stock/surabaya/stock_elite/stock_tote" title="Tote"> <em class="icon-basket-loaded"></em><span>Tote</span></a>
    </li>
  </ul>
</li>