<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ruby on Rails">
    <meta name="keywords" content="">
    <title>PPC - Royal Abadi Sejahtera</title>
    <!-- =============== VENDOR SCRIPTS ===============-->
    <%= javascript_include_tag 'base' %>
    <!-- =============== VIEW VENDOR SCRIPTS ===============-->
    <%= javascript_include_tag params[:controller] %>
    <!-- =============== APP SCRIPTS ===============-->
    <%= javascript_include_tag 'application' %>
    
    <%= Gon::Base.render_data(init: true) %>
    <!-- =============== VENDOR STYLES ===============-->
    <%= stylesheet_link_tag 'base' %>
    <!-- =============== VIEW VENDOR STYLES ===============-->
    <%= stylesheet_link_tag params[:controller] %>
    <!-- =============== APP STYLES ===============-->
    <%= stylesheet_link_tag 'application', media: 'all', id: "maincss" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
    <div class="wrapper">
      <!-- top navbar-->
      <header class="topnavbar-wrapper">
        <%= render partial: "layouts/partials/topnavbar" %>
      </header>
      <!-- sidebar-->
      <aside class="aside">
        <%= render partial: "layouts/partials/sidebar" %>
      </aside>
      <!-- offsidebar-->
      <aside class="offsidebar hide">
        <%= render partial: "layouts/partials/offsidebar" %>
      </aside>
      <!-- Main section-->
      <section>
        <!-- Page content-->
        <div class="content-wrapper">

          <%= flash_messages %>
          <%= yield %>
        </div>
      </section>
      <!-- Page footer-->
      <footer>
        <%= render partial: "layouts/partials/footer" %>
      </footer>

      <!-- Modal Notifikasi Migrasi -->
      <%= render partial: "shared/migration_notice_modal" %>

      <% else %>
      <%= render partial: "devise/sessions/new" %>
      <% end %>
    </div>

    <%= yield :body_area %>

  </body>

</html>